<div class="user-details">
  <h1>Professional Experience</h1>
  
  <div class="user-experience">
  
  <h3> SIEMENS Mobility </h3>    

  <div class="images-right">
    <img alt="marcus-siemens" src="{{ "/assets/img/marcus-siemens.jpg" | prepend: site.baseurl }}" />
  </div>
    <div class="contents">
      <p> My Internship overseas in Austria at SIEMENS mobility allowed me to explore my career as a mechanical engineer for the testing Team I mainly focused on the testing rig, 
          developing new configurations and designing a new standard set of arm to transfer forces to the test pieces. 
          I made good use of my experience with MATLab and used my skills in Solidworks to help me use CREO PTC.
      </p>
      <p>
        On top of all the technical experience I learned I also was able to practice communication in German, (even though sometimes it was difficult understanding their dialect). 
        Overall, it was a great internship and I’d like to thank my co-workers for an awesome experience!
      </p>
          
      </div>
  </div>

  <div class="user-experience">

  <h3> Sperospace </h3>     

  <div class="images-right">
    <img alt="marcus-sperospace" src="{{ "/assets/img/marcus-sperospace.jpg" | prepend: site.baseurl }}" />
  </div>

  <div class="contents">
      <p> 
        Sperospace is developing small robotic arms for space industrialisation. During this internship I was able to flex my muscles in a proper work environment.
        Using the skills I learned in University and UTS Rocketry I was able to head and design projects, physically build and work on the prototype arm, 
        produce documentation for critical design reviews, create risk mitigation plans, and write standard operating procedures. This Internship in the right direction of
        what industry I want to be working in (Aerospace and robotics) and I'm so grateful to my friend Will to immensely helped in getting me the position.
      </p>
      <p>
        I had accepted a part time position at this company and worked there until mid 2023. During my time there my main focus was developing a gripper to dock and service satellites.
        I made good use of the CNC mill and 3d printing facilities available to develop rapid prototypes that were successful in picking up a 1U cube sat.
      </p>
  </div>
  </div>


</div>

<div class="up" style="text-align:right;">
  <a class="link" href="#header" data-scroll>Back to top <i class="icon fa fa-chevron-up" aria-hidden="true"></i></a>
</div>