<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">Marcus Hickel</span>
        <span class="site-description">Mechanical Engineering Undergraduate</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:marcus.hickel@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/marcus-hickel-b62355187/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="Resume"><i class="icon fa fa-file-text-o"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#experince" data-scroll>Experience</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
