<div class="user-details">
  <h1>Leadership</h1>
  
  <div class="user-leadership">
  
    <h3> UTS Rocketry Mechanical Lead</h3>    

    <div class="images-right">
        <img alt="MarcusWorkshop" src="{{ "/assets/img/MarcusWorkshop.jpg" | prepend: site.baseurl }}" />
            <div class="up" style="text-align:right;">
            <a class="link" href="#header" data-scroll>Back to top <i class="icon fa fa-chevron-up" aria-hidden="true"></i></a>
            </div>
    </div>
    <div class="contents">
      <p> 
        I am the 2022 Mechanical Lead for the UTS Rocketry Team.
        In this role I've been developing a course to teach new trainees about the basics of rocketry and how to build their first low powered rocket. 
        All the way from design to manufacturing and construction. My other duties have me overseeing and organising the mechanical projects the Team works on. 
        Such as our newest team rocket Unity I've been delegating tasks to members based on their strengths and their interest.
      </p>
      <p>
        I really enjoy this role because it allows me to help expand the capabilities of the team while also ensuring its longevity via teaching.
        The best part is seeing the enthusiasm that new members bring and matching the energy I have when talking about rockets!
      </p>  
    </div>


  </div>

