<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="rocket-stubby" src="{{ "/assets/img/rocket-stubby.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> UTS Rocketry </h3>
    <ul>
      <li> Model Rocketry Design and Construction</li>
    </ul>
    <p>
      In the UTS Rocketry Team I have designed and built multiple LPR Rockets. 
      I have also undertaken projects such as the design and construction of a modular display stand for Rockets and a redesign for the teams Gazebo.
      The team engages in construction of a high-powered team rockets (The last being 'Venom') (The next rocket 'unity' is in progress!)
    </p>
    <!--- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="milkyway2" src="{{ "/assets/img/milk2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Astrophotograhy </h3>
    <ul>
      <li> Set up and operation of a Telescope and DSLR Camera</li>
    </ul>
    <p>
      I mainly take photos with my DLSR whenever I get the chance to be under dark skies.
      With the addition of a 1200mm, 254mm Dobsonian I've been able to peer into the vast expanse of space. 
      And I plan to make some alterations to improve its ability to take photos of distant nebule. 
    </p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="warmanproject" src="{{ "/assets/img/warmanproject.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Warman Competetion </h3>
    <ul>
      <li> Leadership </li>
      <li> Desgin and construction of a Robot</li>
    </ul>
    <p>
      The warman project me with a group of students design and build a robot that would pick up and move balls to a designated area.
      While we never full accompoisled the goal (The robot could pick up the balls and move them). The process of doing so was really fun,
      and I learned a lot about leading a group.  
    </p>
    <!--- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>