<div class="user-details">
  <h1>Research</h1>
  
  <div class="user-research">
  
  <h3>Rocket Tracking Camera</h3>    

   <div class="images-right">
      <img alt="Jericho" src="{{ "/assets/img/Jericho.jpg" | prepend: site.baseurl }}" />
  </div>

    <div class="contents">
      <p> For investigations of rocket flights, usually flight data such as from an accelerometer is up to interpretation. 
        While on-board cameras allow for a specific view point they are often limited by; field of view, structural requirements and avionics requirements. 
        If the flight results in a catastrophic failure, data may be unrecoverable.
      </p>
      <p>
        My research will explore a ground tracking system a Camera or Antenna that can track the rocket during flight allowing for a stable down-link of data and appropriate video footage, improving the quality of data for post-flight investigations. 
        Control may be provided by a human in the loop, or completely automated.
      </p>
          
      </div>
  </div>


</div>

<div class="up" style="text-align:right;">
  <a class="link" href="#header" data-scroll>Back to top <i class="icon fa fa-chevron-up" aria-hidden="true"></i></a>
</div>