<div class="user-details">
  <h1>Research</h1>
  
  <div class="user-research">
  
  <h3>Simulation Of A Platform For Tracking Model Rockets In Flight</h3>    

   <div class="images-right">
      <img alt="Jericho" src="{{ "/assets/img/Jericho.jpg" | prepend: site.baseurl }}" />
  </div>

    <div class="contents">
      <p> For investigations of rocket flights, usually flight data such as from an accelerometer is up to interpretation. 
        While on-board cameras allow for a specific view point they are often limited by; field of view, structural requirements and avionics requirements. 
        If the flight results in a catastrophic failure, data may be unrecoverable.
      </p>
      <p>
        My capstone aims to lay the foundation simulation for developing a rocket tracking platform to track model rockets in flight. This will allow rocketeers to better analyse their rockets in flight. 
        The goal being that building off this capstone a tracking platform can be built that is small enough for transport to launch sites and cost to build is low enough for university rocketeers to construct. 
        To do this a simulation is built to fly low powered rockets, a computer vision system to detect the rocket, a control system to follow to rocket with a camera, the maximum speeds of which the camera must rotate to keep up with the rocket, 
        and the required focal lengths are calculated and simulated.
      </p>
          
      </div>
  </div>


</div>

<div class="up" style="text-align:right;">
  <a class="link" href="#header" data-scroll>Back to top <i class="icon fa fa-chevron-up" aria-hidden="true"></i></a>
</div>